* {
  margin: 0;
  padding: 0;
  user-select: unset;
}

body {
  background-color: #222931;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: top;
  backdrop-filter: blur(5px);
  height: 88vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 6vh;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  text-align: center;
  color: white;
}

h1 {
  padding-top: 60px;
  font-size: 3em;
}

p {
  font-size: 1.3em;
  line-height: 1.55;
  padding-top: 18px;
}

p:first-of-type {
  padding-top: 22px;
}

a {
  text-decoration: none;
  color: white;
}

svg {
  margin: 40px 14px 0;
  transition: transform .2s;
}

svg:hover {
  transform: scale(1.3);
}

p:last-of-type {
  padding: 10px 0 20px;
  font-size: 1em;
}